{
    "globals": {
        "beforeEach": true,
        "describe": true,
        "it": true,
        "expect": true,
        "jest": true,
        "jasmine": true,
    },

    "rules": {
        "max-nested-callbacks": [2, 3],
        "max-statements": [2, 12]
    }
}
